.jumbotron{
    /* background-image: linear-gradient(-90deg,#47c415, #772061); */
    background-image: linear-gradient(-90deg,rgb(83,148,214),rgb(57,197,42), #772061, rgb(214,0,26));
    color: white;
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
}

.jumboText{
    font-weight: 500;
}

.boldNumbers{
    font-weight: bold;
}

.card{
    margin-bottom: 1rem;
}

.card-header {
    padding: .5rem 1.25rem;
}

img{
    height: 70px;
    width: 87.5px;
    margin: 0 10px;
}